.app{
  height: calc(100vh - 48px);
  width: 100%;
  display: flex;

  .content{
    width: 100%;
    height: calc(100vh - 48px);
  }
}

.aside{
  border-top: 1px solid rgba(0, 20, 255, 0.3);
  max-width: 200px;
  width: 100%;
  height: calc(100vh - 48px);

  & .links{
    padding: 1em;
    & .links_item{
      &:hover{
        text-decoration: solid underline;
      }
    }
  }
}
